@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');


.signin-col3 {
   display: none;
}
.left {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_.jpg');
   height: 100vh;   
   background-repeat: no-repeat;
   background-size: cover;
}
.signin-col1 {
   padding-left: 10%;
   padding-top: 25%;
}
.signin-col1 img {
    width: 400px;
}
.signin-col2 {
   padding-left: 0%;
}
.signin-col2 p{
   width: 535px;
   height: 60px;   
   font-family: Mulish;
   font-style: normal;
   font-weight: bold;
   font-size: 48px;
   line-height: 60px;
   letter-spacing: 0.003em;
   
   color: #FFFFFF;
}
.signin-col4 {
   display: block;
   font-size: 16px;
   text-align: left;
   font-family: 'Mulish';
   padding-left: 32px;
   padding-top: 32px;
}
.signin-col4 .h3 {
   color: black;
   text-align: left;
}
.password {
   display: flex;
   flex-direction: row;
   border: 1px rgb(223, 221, 221) solid;
   border-radius: 5px;
}
.input-password {
   border: none;
}
.btn-password {
   background-color: transparent;
   border: none;
}
.btn-password:hover {
   background-color: transparent;
}
.btn-signin {
   width: 100%;
   height: 40px;
   border: none;
   background-color:  #5F2EEA;
   color: white;
   font-size: 16px;
   font-family: 'Mulish', sans-serif;
   font-weight: bold;
}
.signin-col7 {
   position: relative;
   left: 0%;
   top: 28%;
}
.btn-google {
   color: #A0A3BD;
   background-color: white;
   border: 1px solid;
   margin-left: 30px;
   align-content: center;
   box-shadow: 1px 1px #A0A3BD;
}
.btn-google:hover {
   background-color: white;
   color:black;
   text-shadow: 1px rgb(221, 220, 220) ;
}
.btn-facebook {
   color: #A0A3BD;
   background-color: white;
   border: 0.5px solid;
   margin-left: 120px;
   box-shadow: 1px 1px #A0A3BD;
}
.btn-facebook:hover {
   background-color: white;
   color:black;
   text-shadow: 1px rgb(221, 220, 220) ;
}
@media only screen and (max-width: 576px) {
   .left {
      display: none;
   }
   .signin-col3 {
      display: block;
   }
   .signin-col3 img {
      margin-left: 10px;
   }
   .signin-col4 {
      margin-top: 50px;
   }
   .singnup-col3{
      margin: 10px;
   }
   form {
        position: relative;
        width: 80%;
        left: 12%;
        top: 42%;
   }
   .line2 {
      width: 150px;
      height: 0px;
      border: 0.5px rgb(243, 243, 243) solid;
   }
   .signin-col7 {
        position: relative;
        left: 0%;
        top: 50%;
     }
}