.inputPassword {
    display: block;
}
input {
    border: none;
    width: 90%;
}
.passSeek{
    display: flex;
    justify-content: space-between;
    border: 0.1px #ebe2e2 solid;
    height: 45px;
    border-radius: 5px;
    padding: 5px;
}
