@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.colMonth{
    overflow-y: scroll;
    display: flex;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.colMonth::-webkit-scrollbar {
    display: none;
  }

.btnMonth {
    height: 42px;
    width: 127px;
    margin-right: 16px;
    border: 1px solid #5F2EEA;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 600;
    color: #5F2EEA;
    background-color: white;
}

.btnMonth:visited {
    background-color: #5F2EEA;
    color: white;
}

.btnMonth:hover {
    background-color: #5F2EEA;
    color: white;
}

.btnMonth:active {
    background-color: #5F2EEA;
    color: white;
}
