.home-col6 {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 100%;
}
.home-col6 div {
    margin-right: 20px;
}
.home-col6 button {
    background-color: white;
    border: 1px #5F2EEA solid;
    color: #5F2EEA;
    width: 6rem;
}
.home-col6 button:hover {
    background-color:#5F2EEA;
    border: 1px #5F2EEA solid;
    color:white;
}
