@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.container-orderpage {
    background-color: whitesmoke;
    padding: 5%;
    width: 100%;
}
.Order-row1 {
    font-family: 'Mulish',sans-serif;
    font-size: 24px;
    font-weight: bolder;

}
.Order-row2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Mulish',sans-serif;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border: 0.1px rgb(255, 255, 255) solid;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.Order-row3 {
    background-color: white;
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px;
}
.Order-row4 {
    color: transparent;
    background-color:rgb(111, 111, 255);
    border: 1px rgb(111, 111, 255) solid;
    border-radius: 10px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
}
.Order-row5 {
    font-family: 'Mulish',sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 50px 50px 0px ;
}
.btn-available {
    background-color: white;
    border-radius: 10px;
}
.btn-selected {
    background-color:purple;
    border-radius: 10px;
}
.btn-lovenest {
    background-color: pink;
    border-radius: 10px;
}
.btn-Sold {
    background-color: greenyellow;
    border-radius: 10px;
}
.Order-row6 {
    display: flex;
    justify-content: space-between;
}
.Order-row7 {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
.Order-row9 {
    display: flex;
    justify-content: space-between;
}
.Order-row9 p{
    font-family: 'Mulish',sans-serif;
    font-size: 16px;
}
.Order-row9 .h3{
    font-family: 'Mulish',sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}
.Order-row9 .h4 {
    color: #5F2EEA ;
    font-size: 24px;
}
.orderNote-Web {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;

}
.note-mobile {
    display: none;
}

.btn-dropdown {
    background-color: transparent;
    border-color: #5F2EEA ;
    color: #5F2EEA;
    border-radius: 10px;
}
.btn-addseat {
    background-color: transparent;
    border-color:#5F2EEA ;
    color:#5F2EEA;
    border-radius: 10px;
    width: 100%;
    height: 56px;
}
.btn-checkout {
    background-color: #5F2EEA;
    border-color: #5F2EEA ;
    color:white;
    border-radius: 10px;
    width: 100%;
    height: 56px;
}
.btn-changeorder {
    border: none;
    background-color:  whitesmoke;
    color:#5F2EEA;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    height: 56px;
    width: fit-content;
}
.btn-changemovie {
    background-color: transparent;
    border-color: #5F2EEA;
    color: #5F2EEA;
    width: 250px;
    height: 56px;
}
.btn-checkout {
    background-color: #5F2EEA;
    color: white;
    border-color: #5F2EEA;
    width: 250px;
    height: 56px;
}
.choose-seat {
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.orderNoteDetail {
    display: flex;
}

.orderNoteColorAvail {
    width: 26px;
    height: 26px;
    background-color: #eee;
    border-radius: 4px;
    margin-right: 15px;
}
.orderNoteColorSold {
    width: 26px;
    height: 26px;
    background-color: #6E7191;
    border-radius: 4px;
    margin-right: 15px;
}
.orderNoteColorSelected {
    width: 26px;
    height: 26px;
    background-color: #5F2EEA;
    border-radius: 4px;
    margin-right: 15px;
}
.orderNoteColorLoveNest {
    width: 26px;
    height: 26px;
    background-color: #F589D7;
    border-radius: 4px;
    margin-right: 15px;
}
@media only screen and (max-width: 576px) {
    .oreder-web {
        display: none;
    }
    .note-web {
        display: none;        
    }
    .note-mobile {
        display: block;
    }
    .btn-checkout {
        background-color: #5F2EEA;
        color: white;
        border-color: #5F2EEA;
        width: 100%;
    }
}