@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');


.purple-tickitz {
   display: none;
}
.left {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_.jpg');
   height: 100vh;   
   background-repeat: no-repeat;
   background-size: cover;
}
.row1 img {
   height: 104px;
   width: 276px;
   left: 112px;
   top: 50px;
   border-radius: 0px;
   position: absolute;
}
.row2 p {
   position: absolute;
   width: 535px;
   height: 60px;
   left: 112px;
   top: 185px;
   
   font-family: Mulish;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 60px;
   letter-spacing: 0.003em;
   
   color: #FFFFFF;
}
.row3 p {
   position: absolute;
   width: 555px;
   height: 80px;
   left: 112px;
   top: 250px;
   
   font-family: Mulish;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 30px;
   
   color: rgba(255, 255, 255, 0.7);   
}
.row4 {
   position: absolute;
   left: 112px;
   top: 350px;
}
.row4 span {
   color: white;
   font-size: 24px;
   font-family: 'Mulish', sans-serif;
   align-content: center;
   
}
.row4 .line {
   border-left: 2px white solid;
   height: 40px;
   margin-left: 24px;
}
.row4 .btn1 {
   font-size: 24px;
   background-color: transparent;
   height: 50px;
   width: 50px;
   border-radius: 50px;
   border-color: white;
   margin-right: 25px;
}

.btn-join {
   width: 400px;
   height: 64px;
   border: none;
   background-color:  #5F2EEA;
   color: white;
   font-size: 16px;
   font-family: 'Mulish', sans-serif;
   font-weight: bold;
}
.row6 {
   position: absolute;
   width: auto;
   height: 33px;
   left: 99px;
   top: 106px;

   font-family: 'Mulish';
   font-style: normal;
   font-weight: 600;
   font-size: 26px;
   line-height: 33px;
   letter-spacing: 0.005em;

   color: #121212;
}
.row6 .p2 {
    position: absolute;
   width: 390px;
   height: 33px;
   left: 0px;
   top: 36px;

   font-family: 'Mulish';
   font-style: normal;
   font-weight: 100;
   font-size: 20px;
   line-height: 33px;
   letter-spacing: 0.005em;
   color: #8692A6;
}
form {
   position: absolute;
   left: 85px;
   top: 200px;
}

@media only screen and (max-width: 576px) {
   .left {
      display: none;
   }
   .purple-tickitz {
      display: block;
      position: absolute;
      top: 30px;
      left: 85px
   }
}