@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.containerHome {
    background-color: whitesmoke;
}
.bgwhite {
    background-color: white;
}
.home-col1{
    text-align: center;
    padding-top: 12%;
}
.home-col1 p{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}
.home-col1 h1{
    font-family: 'Mulish', sans-serif;
    color: #5F2EEA;
    font-weight: bolder;
    font-size: 48px;
}
.home-col2 {
    text-align: center;
}
.home-col3 p {
    font-size: 18px;
    font-family: 'Mulish',sans-serif;
    color: #5F2EEA;
    font-weight: bolder;
}
.home-row3 {
    background-color: whitesmoke;
}
.home-col4 {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 100%;
}
.home-col4 div {
    padding: 20px;
    margin: 5px;
}
.home-col7 {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 100%;
}
.home-col7 div {
    margin-right: 20px;
}
.title {
    margin-top: 5px;
    width: 100%;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center
}
.genre{
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    color: gray; 
    text-align: center;
}
.btn-details {
    background-color: white;
    border: 1px #5F2EEA solid;
    color:#5F2EEA;
    width: 80%;
    margin-left: 10.5%;
}
.btn-details:hover {
    background-color:#5F2EEA;
    border: 1px #5F2EEA solid;
    color:white;
}
.home-col8 .input-email {
    width: 30%;
}
.home-col8 div h5 {
    font-family: 'Mulish',sans-serif;
    color: #4E4B66;
    text-align: center;
}
.home-col8 div h1 {
    font-family: 'Mulish',sans-serif;
    color: #5F2EEA;
    text-align: center;
    font-weight: bolder;
}
.home-col8 .home-mobile {
    display: flex;
    justify-content: center;
}
.home-col8 {
    height: 300px;
    padding: 50px;
    border-radius: 10px;
}
.home-col8 .btn-join {    
    border:  #5F2EEA;
    background-color:  #5F2EEA;
    color: white;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    height: 39px;
    width: 10%;
}
.btn-join:hover {
    background-color:  whitesmoke;
    color: #5F2EEA;
}
@media only screen and (max-width: 576px) {
    .home-col8 .input-email {
        width: 100%;
        margin-bottom: 10px;
    }
    .home-col8 .home-mobile {
        display: block;
        justify-content: center;
    }
    .home-col8 .btn-join {    
        border:  #5F2EEA;
        background-color:  #5F2EEA;
        color: white;
        font-size: 16px;
        font-family: 'Mulish', sans-serif;
        font-weight: bold;
        height: 39px;
        width: 100%;
    }
}